@use '../base/variables' as v;
@use '../base/mixins' as m;

// .contenido-about {

// }

.fila {
    // display: flex;

    // .col i{
    //     font-size: 3rem;
    // }

    .col h3{
        font-size: 2rem;
        margin-bottom: 10px;
    }

    ul{
        list-style: none;
        padding-left: 1rem;

    }

    li {
        margin: 12px 0;
        align-items: center;
    }

    strong {
        display: inline-block;
    }
}

.contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;

    .intereses{
        width: 30px;
        height: 30px;
        background-color: v.$azul;
        border-radius: 10px;
        margin: 0 15px 25px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;
        color: v.$blanco;
    }

    .intereses:hover{
        background-color: v.$amarillo;
    }
}

.about {
    padding: 8rem 0 2rem 0;

    h1 {
        font-size: 4rem;
        text-align: left;
        text-decoration: 2px underline double v.$amarillo;
        text-underline-position: under;
    }

    p {
        text-align: justify;
    }
}

// Es un mixin para tener dos columnas en la seccion de about 
.escenario-contenedor {
    @include m.tablet { // En el tamaño mayor de una tablet
        @include m.grid(2, 5rem); // Crea dos columnas usando grid
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
        gap: 2rem;
    }
}

.escenario-left {
    padding: 0 1rem 2rem 1rem;
}

.escenario-right {
    // background: linear-gradient(top boto,v.$blanco, v.$gris);
    background-color: rgba(229, 229, 229, 0.502);
    color: rgba(0, 0, 0, .7);
    border-radius: 30px 0 30px 0;
    border-color: v.$grisOscuro;
    box-shadow: 2px 2px v.$gris;
}

.contendor-rigth h1 {
    margin: 20rem;
}

.escenario-right {   

    padding: 2rem;
    width: 100%;
    height: 80%;

    svg, img {
        width: 7rem;
        height: 7rem;
        align-items: center;
        justify-items: center;
        fill: rgba(0, 0, 0, .7);
        transition: .3s;
    }

    @include m.tablet { // En el tamaño mayor de una tablet
        svg:hover {
            transform: scale(1.5);
        }
    }


    // @include m.resetear-lista();
    @include m.grid(2, 3rem);
    @include m.tablet { // En el tamaño mayor de una tablet
        @include m.grid(3, 1rem); // Crea tres columnas usando grid
    }

    justify-items: center;
    align-items: center;
}


// BOTON DE DESCARGAR CV
/* From uiverse.io by @satyamchaudharydev */
.button {

    cursor: pointer;
    --width: 150px;
    --height: 40px;
    --tooltip-height: 25px;
    --tooltip-width: 70px;
    --gap-between-tooltip-to-button: calc(var(--tooltip-height) + 2px);
    --button-color: #1163ff;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: v.$azul;
    position: relative;
    // z-index: 1;
    text-align: center;
    border-radius: 0.6em;
    // font-family: "Arial";
    transition:  0.3s;
   }
   
   .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
   }
   
   .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 10px);
   }
   
   .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
   }
   
   .text {
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
   }
   
   .text {
    top: 0
   }
   
   .text,.icon {
    transition: top 0.5s;
   }
   
   .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .button:hover {
    background: v.$amarillo;
   }
   
   .button:hover .text {
    top: -100%;
   }
   
   .button:hover .icon {
    top: 0;
   }
   
   .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
   }
   
   .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
   }
   
   .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
   }
   